@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color:#FFFFFF;
    color:#66ff00
  }

.dark-mode {
    font-family: 'Lato', sans-serif;
    background-color:#121212;
    color:#BB86FC
}


.btn {
    position: relative;
    height:30px;
    width:40px;

    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn-dark {
    position: relative;
    height:30px;
    width:40px;

    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #BB86FC;
    color: #000000;

    transition: background-color .3s;
}